@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa; }

a:hover {
  text-decoration: none;
  color: #FFFFFF; }

.red {
  color: #dd2826; }

#main h1 {
  color: #999999; }
#main h2 {
  font-weight: 800; }
#main p {
  font-size: 1.6em;
  color: #999; }
#main img {
  margin-top: 5px; }

.main-box {
  min-height: 100%; }
  .main-box a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #dd2826; }

.main-button {
  color: #FFFFFF;
  display: block;
  margin: 30px 0;
  background: #3498db;
  text-align: center;
  width: 200px;
  height: 80px;
  padding: 30px; }
  .main-button:hover .main-button:visited .main-button:active {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #FF5746; }

.input-search {
  margin: 10px 0 21px 0;
  text-align: center;
  height: 60px;
  width: 100%;
  font-size: 1.5em;
  color: #000;
  border: none;
  background: #e5e5e5; }

.or {
  margin: 80px 0;
  font-size: 55px;
  font-style: italic;
  color: #999; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px; }

ul li {
  margin: 2px 0;
  list-style: none; }

.description {
  text-align: center;
  color: #999;
  transition: opacity 0.3s ease; }
  .description a {
    color: #4A9DF6;
    text-decoration: none; }

.social-icon {
  color: #000; }
  .social-icon:hover {
    color: #dd2826; }

.big {
  font-size: 36px; }

.alert-danger {
  color: #FFFFFF;
  background-color: #CC181E;
  border-color: #ebccd1; }

#playlist {
  margin: 0;
  padding: 0;
  overflow: auto;
  margin-top: 15px;
  height: 400px; }
  #playlist .playlist-item {
    position: relative;
    padding: 10px; }
    #playlist .playlist-item.current {
      border: 1px solid #DDD;
      background: #E5E5E5; }
    #playlist .playlist-item:hover {
      background: #EEE;
      cursor: pointer; }
    #playlist .playlist-item .remove-item {
      padding: 5px 10px;
      background: #DDD;
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 99999; }
      #playlist .playlist-item .remove-item:hover {
        color: red;
        cursor: pointer; }
    #playlist .playlist-item .down-item {
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 78px;
      background: #DDD; }
      #playlist .playlist-item .down-item:hover {
        color: #D40808; }
    #playlist .playlist-item .up-item {
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 44px;
      background: #DDD; }
      #playlist .playlist-item .up-item:hover {
        color: #D40808; }

#logo {
  width: 50px; }

#logo-container {
  margin-bottom: 0; }

#search-results {
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  z-index: 10000;
  width: 100%;
  border: 4px solid #CCC;
  border-top: none; }
  #search-results li {
    display: inline-block;
    width: 100%;
    height: 120px;
    position: relative;
    vertical-align: top;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5; }
    #search-results li.item-added {
      background: #D2ECCD; }
    #search-results li .search-result-image {
      display: inline-block;
      width: 100px;
      margin-right: 10px; }
      #search-results li .search-result-image img {
        margin: 0;
        max-width: 100%; }
    #search-results li .search-result-title {
      display: inline-block;
      font-weight: 800;
      height: 100%;
      color: #333;
      font-size: 150%; }
    #search-results li:not(.item-added):hover {
      background: #EEE;
      cursor: pointer; }

#player-container {
  z-index: 900; }

#search-container {
  width: 100%;
  position: relative;
  margin: 0 15px;
  margin-bottom: 20px; }
  #search-container #clear-results {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9999999;
    cursor: pointer; }

#search {
  padding-bottom: 0;
  margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
